@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Merriweather Sans", serif;
}

body,
#root {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}
.font-merriweather {
  font-family: "Merriweather", serif;
}
